@font-face {
  font-family: signika;
  src: url(Signika/Signika-VariableFont_GRAD\,wght.ttf);
}
* {
  margin: 0px;
  padding: 0px;
  font-family: Signika;
  border: 0px;
}


#home-main {
  height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.navbar {
  /* background-color: blue; */
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-leftside h3 {
  font-size: 1.6vw;
  color: #000000;
  /* background-color: #fff; */
  margin-left: 10vw;
  display: flex ;
  /* align-items: center; */
  justify-content: space-between;
}

.log{
  width: 2vw;
  height: 3vh;
  /* background-color: red ; */
}
.log img{
  width: 100%;
} 
.nav-rightside {
  width: 30vw;
  /* background-color: #fff; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10vw;
}
.nav-rightside button {
  background: transparent;
  /* border: 1px solid black; */
  /* border-radius: 3px; */
  padding: 2px;
}

.nav-rightside button h4 {
  font-weight: 500;
  font-size: 9px;
}

.hero-section-heading{
  width: 100%;
  height: 25 vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  
}

.hero-section-heading h1{
  font-weight: 500;
  font-size: 3.5vw;
  line-height: 32px;
}


.hero-section-heading h5{
  font-weight: 500;
  font-size: 1vw;
}
.hero-image-main{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  /* background-color: red; */
}
.hero-image{
  width: 45%;
  /* margin-right: 8vw; */
  /* background-color: blue; */


}
.hero-image img {
  height: 90%;
  width: 100%;
  object-fit: contain;
}


.image-part1{
  width: 13vw;
  
  margin-bottom:37vh;
  margin-right: 1vw;

}

.image-part1 img{
  height: 100%;
  width: 100%;
}

.image-part2{
  width: 15vw;
  margin-bottom:15vh;
  
  margin-left: 2vw;

}

.image-part2 img{
  height: 100%;
  width: 100%;
}
